Repobox/Web References/RepoWS_Cancel/Application.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap11enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12enc="http://www.w3.org/2003/05/soap-encoding" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://timbrador.cepdi.mx:8443/WSProduccion/WS?WSDL" xmlns:s0="soap.complex_model" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11env="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soap12env="http://www.w3.org/2003/05/soap-envelope" xmlns:wsa="http://schemas.xmlsoap.org/ws/2003/03/addressing" xmlns:plink="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xop="http://www.w3.org/2004/08/xop/include" name="Application" targetNamespace="https://timbrador.cepdi.mx:8443/WSProduccion/WS?WSDL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="soap.complex_model">
      <xs:import namespace="https://timbrador.cepdi.mx:8443/WSProduccion/WS?WSDL" />
      <xs:complexType name="Folio">
        <xs:sequence>
          <xs:element minOccurs="0" name="UUID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EstatusUUID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid_status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="date" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="UUIDS">
        <xs:sequence>
          <xs:element minOccurs="0" name="uuids" nillable="true" type="tns:stringArray" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="FolioArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="Folio" nillable="true" type="s0:Folio" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CancelaCFDResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="Folios" nillable="true" type="s0:FolioArray" />
          <xs:element minOccurs="0" name="Acuse" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fecha" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RfcEmisor" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CodEstatus" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Folio" type="s0:Folio" />
      <xs:element name="query_pending_cancellationResponse" type="s0:query_pending_cancellationResponse" />
      <xs:element name="UUIDS" type="s0:UUIDS" />
      <xs:element name="FolioArray" type="s0:FolioArray" />
      <xs:element name="CancelaCFDResult" type="s0:CancelaCFDResult" />
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="https://timbrador.cepdi.mx:8443/WSProduccion/WS?WSDL">
      <xs:import namespace="soap.complex_model" />
      <xs:complexType name="stringArray">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel_signature">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel_signatureResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancel_signatureResult" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_receipt">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="get_receiptResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="get_receiptResult" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="out_cancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="xml" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cer" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="out_cancelResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="out_cancelResult" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellation">
        <xs:sequence>
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="query_pending_cancellationResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="query_pending_cancellationResult" nillable="true" type="s0:query_pending_cancellationResponse" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel">
        <xs:sequence>
          <xs:element minOccurs="0" name="UUIDS" nillable="true" type="s0:UUIDS" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cer" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="passllave" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel64">
        <xs:sequence>
          <xs:element minOccurs="0" name="UUIDS" nillable="true" type="s0:UUIDS" />
          <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="taxpayer_id" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="cer" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="key" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="passllave" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="store_pending" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancel64Response">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancel64Result" nillable="true" type="s0:CancelaCFDResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="cancelResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="cancelResult" nillable="true" type="s0:CancelaCFDResult" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="stringArray" type="tns:stringArray" />
      <xs:element name="cancel_signature" type="tns:cancel_signature" />
      <xs:element name="cancel_signatureResponse" type="tns:cancel_signatureResponse" />
      <xs:element name="get_receipt" type="tns:get_receipt" />
      <xs:element name="get_receiptResponse" type="tns:get_receiptResponse" />
      <xs:element name="out_cancel" type="tns:out_cancel" />
      <xs:element name="out_cancelResponse" type="tns:out_cancelResponse" />
      <xs:element name="query_pending_cancellation" type="tns:query_pending_cancellation" />
      <xs:element name="query_pending_cancellationResponse" type="tns:query_pending_cancellationResponse" />
      <xs:element name="cancel" type="tns:cancel" />
      <xs:element name="cancel64" type="tns:cancel64" />
      <xs:element name="cancel64Response" type="tns:cancel64Response" />
      <xs:element name="cancelResponse" type="tns:cancelResponse" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="cancel_signature">
    <wsdl:part name="cancel_signature" element="tns:cancel_signature" />
  </wsdl:message>
  <wsdl:message name="cancel_signatureResponse">
    <wsdl:part name="cancel_signatureResponse" element="tns:cancel_signatureResponse" />
  </wsdl:message>
  <wsdl:message name="query_pending_cancellation">
    <wsdl:part name="query_pending_cancellation" element="tns:query_pending_cancellation" />
  </wsdl:message>
  <wsdl:message name="query_pending_cancellationResponse">
    <wsdl:part name="query_pending_cancellationResponse" element="tns:query_pending_cancellationResponse" />
  </wsdl:message>
  <wsdl:message name="cancel64">
    <wsdl:part name="cancel64" element="tns:cancel64" />
  </wsdl:message>
  <wsdl:message name="cancel64Response">
    <wsdl:part name="cancel64Response" element="tns:cancel64Response" />
  </wsdl:message>
  <wsdl:message name="get_receipt">
    <wsdl:part name="get_receipt" element="tns:get_receipt" />
  </wsdl:message>
  <wsdl:message name="get_receiptResponse">
    <wsdl:part name="get_receiptResponse" element="tns:get_receiptResponse" />
  </wsdl:message>
  <wsdl:message name="cancel">
    <wsdl:part name="cancel" element="tns:cancel" />
  </wsdl:message>
  <wsdl:message name="cancelResponse">
    <wsdl:part name="cancelResponse" element="tns:cancelResponse" />
  </wsdl:message>
  <wsdl:message name="out_cancel">
    <wsdl:part name="out_cancel" element="tns:out_cancel" />
  </wsdl:message>
  <wsdl:message name="out_cancelResponse">
    <wsdl:part name="out_cancelResponse" element="tns:out_cancelResponse" />
  </wsdl:message>
  <wsdl:portType name="Application">
    <wsdl:operation name="cancel_signature" parameterOrder="cancel_signature">
      <wsdl:input name="cancel_signature" message="tns:cancel_signature" />
      <wsdl:output name="cancel_signatureResponse" message="tns:cancel_signatureResponse" />
    </wsdl:operation>
    <wsdl:operation name="query_pending_cancellation" parameterOrder="query_pending_cancellation">
      <wsdl:input name="query_pending_cancellation" message="tns:query_pending_cancellation" />
      <wsdl:output name="query_pending_cancellationResponse" message="tns:query_pending_cancellationResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancel64" parameterOrder="cancel64">
      <wsdl:input name="cancel64" message="tns:cancel64" />
      <wsdl:output name="cancel64Response" message="tns:cancel64Response" />
    </wsdl:operation>
    <wsdl:operation name="get_receipt" parameterOrder="get_receipt">
      <wsdl:input name="get_receipt" message="tns:get_receipt" />
      <wsdl:output name="get_receiptResponse" message="tns:get_receiptResponse" />
    </wsdl:operation>
    <wsdl:operation name="cancel" parameterOrder="cancel">
      <wsdl:input name="cancel" message="tns:cancel" />
      <wsdl:output name="cancelResponse" message="tns:cancelResponse" />
    </wsdl:operation>
    <wsdl:operation name="out_cancel" parameterOrder="out_cancel">
      <wsdl:input name="out_cancel" message="tns:out_cancel" />
      <wsdl:output name="out_cancelResponse" message="tns:out_cancelResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Application" type="tns:Application">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="cancel_signature">
      <soap:operation soapAction="cancel_signature" style="document" />
      <wsdl:input name="cancel_signature">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancel_signatureResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="query_pending_cancellation">
      <soap:operation soapAction="query_pending_cancellation" style="document" />
      <wsdl:input name="query_pending_cancellation">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="query_pending_cancellationResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel64">
      <soap:operation soapAction="cancel64" style="document" />
      <wsdl:input name="cancel64">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancel64Response">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_receipt">
      <soap:operation soapAction="get_receipt" style="document" />
      <wsdl:input name="get_receipt">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="get_receiptResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="cancel">
      <soap:operation soapAction="cancel" style="document" />
      <wsdl:input name="cancel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="cancelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="out_cancel">
      <soap:operation soapAction="out_cancel" style="document" />
      <wsdl:input name="out_cancel">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="out_cancelResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CancelSOAP">
    <wsdl:port name="Application" binding="tns:Application">
      <soap:address location="https://facturacion.cepdi.mx/servicios/soap/cancel" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>