Repobox/Web References/RepoBoxWS/TimbradoService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="timbrado.ws.pade.mx" targetNamespace="timbrado.ws.pade.mx" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="acuseCancelacion" type="tns:acuseCancelacion" />
  <xs:element name="acuseCancelacionResponse" type="tns:acuseCancelacionResponse" />
  <xs:element name="acuseRecibo" type="tns:acuseRecibo" />
  <xs:element name="acuseReciboResponse" type="tns:acuseReciboResponse" />
  <xs:element name="cancelar" type="tns:cancelar" />
  <xs:element name="cancelarConOpciones" type="tns:cancelarConOpciones" />
  <xs:element name="cancelarConOpcionesResponse" type="tns:cancelarConOpcionesResponse" />
  <xs:element name="cancelarResponse" type="tns:cancelarResponse" />
  <xs:element name="cfdiPorUUID" type="tns:cfdiPorUUID" />
  <xs:element name="cfdiPorUUIDResponse" type="tns:cfdiPorUUIDResponse" />
  <xs:element name="status" type="tns:status" />
  <xs:element name="statusResponse" type="tns:statusResponse" />
  <xs:element name="timbrado" type="tns:timbrado" />
  <xs:element name="timbradoConOpciones" type="tns:timbradoConOpciones" />
  <xs:element name="timbradoConOpcionesResponse" type="tns:timbradoConOpcionesResponse" />
  <xs:element name="timbradoPrueba" type="tns:timbradoPrueba" />
  <xs:element name="timbradoPruebaConOpciones" type="tns:timbradoPruebaConOpciones" />
  <xs:element name="timbradoPruebaConOpcionesResponse" type="tns:timbradoPruebaConOpcionesResponse" />
  <xs:element name="timbradoPruebaResponse" type="tns:timbradoPruebaResponse" />
  <xs:element name="timbradoResponse" type="tns:timbradoResponse" />
  <xs:complexType name="acuseCancelacion">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseCancelacionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarConOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyPass" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarConOpcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoPrueba">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXml" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoPruebaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoPruebaConOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoPruebaConOpcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="status">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="statusResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelar">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="rfcEmisor" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="arregloUUID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="key" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="keyPass" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cancelarResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cfdiPorUUID">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cfdiPorUUIDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbrado">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXml" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoConOpciones">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="cfdiXml" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="opciones" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="timbradoConOpcionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseRecibo">
    <xs:sequence>
      <xs:element minOccurs="0" name="contrato" type="xs:string" />
      <xs:element minOccurs="0" name="usuario" type="xs:string" />
      <xs:element minOccurs="0" name="passwd" type="xs:string" />
      <xs:element minOccurs="0" name="uuid" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="acuseReciboResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>