Repobox/Web References/RepoBoxWS33/Timbrado3.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="timbrado.ws.pade.mx" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" name="Timbrado3.3" targetNamespace="timbrado.ws.pade.mx" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://timbrado.pade.mx:80/servicio/Timbrado3.3?xsd=1" namespace="timbrado.ws.pade.mx" />
    </xsd:schema>
  </types>
  <message name="cancelar">
    <part name="parameters" element="tns:cancelar" />
  </message>
  <message name="cancelarResponse">
    <part name="parameters" element="tns:cancelarResponse" />
  </message>
  <message name="timbrado">
    <part name="parameters" element="tns:timbrado" />
  </message>
  <message name="timbradoResponse">
    <part name="parameters" element="tns:timbradoResponse" />
  </message>
  <message name="timbradoPrueba">
    <part name="parameters" element="tns:timbradoPrueba" />
  </message>
  <message name="timbradoPruebaResponse">
    <part name="parameters" element="tns:timbradoPruebaResponse" />
  </message>
  <message name="cfdiPorUUID">
    <part name="parameters" element="tns:cfdiPorUUID" />
  </message>
  <message name="cfdiPorUUIDResponse">
    <part name="parameters" element="tns:cfdiPorUUIDResponse" />
  </message>
  <message name="acuseCancelacion">
    <part name="parameters" element="tns:acuseCancelacion" />
  </message>
  <message name="acuseCancelacionResponse">
    <part name="parameters" element="tns:acuseCancelacionResponse" />
  </message>
  <message name="cancelarConOpciones">
    <part name="parameters" element="tns:cancelarConOpciones" />
  </message>
  <message name="cancelarConOpcionesResponse">
    <part name="parameters" element="tns:cancelarConOpcionesResponse" />
  </message>
  <portType name="PadeTimbradoService">
    <operation name="cancelar">
      <input wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/cancelarRequest" message="tns:cancelar" />
      <output wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/cancelarResponse" message="tns:cancelarResponse" />
    </operation>
    <operation name="timbrado">
      <input wsam:Action="timbrado" message="tns:timbrado" />
      <output wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/timbradoResponse" message="tns:timbradoResponse" />
    </operation>
    <operation name="timbradoPrueba">
      <input wsam:Action="timbradoPrueba" message="tns:timbradoPrueba" />
      <output wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/timbradoPruebaResponse" message="tns:timbradoPruebaResponse" />
    </operation>
    <operation name="cfdiPorUUID">
      <input wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/cfdiPorUUIDRequest" message="tns:cfdiPorUUID" />
      <output wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/cfdiPorUUIDResponse" message="tns:cfdiPorUUIDResponse" />
    </operation>
    <operation name="acuseCancelacion">
      <input wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/acuseCancelacionRequest" message="tns:acuseCancelacion" />
      <output wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/acuseCancelacionResponse" message="tns:acuseCancelacionResponse" />
    </operation>
    <operation name="cancelarConOpciones">
      <input wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/cancelarConOpcionesRequest" message="tns:cancelarConOpciones" />
      <output wsam:Action="timbrado.ws.pade.mx/PadeTimbradoService/cancelarConOpcionesResponse" message="tns:cancelarConOpcionesResponse" />
    </operation>
  </portType>
  <binding name="PadeTimbradoServicePortBinding" type="tns:PadeTimbradoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="cancelar">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="timbrado">
      <soap:operation soapAction="timbrado" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="timbradoPrueba">
      <soap:operation soapAction="timbradoPrueba" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cfdiPorUUID">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="acuseCancelacion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="cancelarConOpciones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Timbrado3.3">
    <port name="PadeTimbradoServicePort" binding="tns:PadeTimbradoServicePortBinding">
      <soap:address location="http://timbrado.pade.mx:80/servicio/Timbrado3.3" />
    </port>
  </service>
</definitions>